<!-- <table>
    <tr>
       <th>Dimension</th><th>Quantity</th><th>Factory: rx</th><th>Factory: hsf</th>
    </tr>
    <tr>
       <td>0</td><td>Nguyễn</td><td>3</td><td>1.2</td>
    </tr>
    <tr>
       <td>0</td><td>200</td><td>4</td><td>2.4</td>
    </tr>
    <tr>
       <td>1</td><td>100</td><td>3</td><td>3</td>
    </tr>
    <tr>
       <td>1</td><td>200</td><td>5</td><td>4.5</td>
    </tr>
 </table> -->
<!-- <script>
   setInterval(intervalFunc, 15000);
   async function intervalFunc() {
      let temp = html;
      document.write('<%- temp; -%>');
        }

</script>
  -->

  <%- html; %>
  <meta http-equiv="refresh" content="20" >